/* base page styling */
body {
    color: white;
    background-color: #ADD8E6;
    font-size: 45px;
    font-family: 'Inconsolata', monospace, sans-serif;
}

/* title styling */
#landing-title {
    background-color: red;
    height: 317px;
    border-style: dashed;
    border-color: azure;
    opacity: 70%;
}

#landing-title>h2 {
    color: white;
    font-size: 80px;
    font-family: 'Silkscreen', cursive, sans-serif;
    text-align: center;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}

#landing-title>h1 {
    margin-top: -70px;
    color: yellow;
    font-family: 'Bebas Neue', cursive, sans-serif;
    text-align: center;
    font-size: 100px;
}

/* colored gradient bars */
#gradient-one {
    background-color: #FF5F1F;
    height: 25px;
    margin-top: -70px;
}

/* styling of the game type buttons */
#game-selection-area {
    display: flex;
    justify-content: center;
}

.selectme {
    margin: -10px;
    font-family: 'Silkscreen', cursive, sans-serif;
    text-align: center;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

/* stlying for insturction manual buttons */
#instruction-area {
    display: flex;
    justify-content: center;
}

.main-button {
    height: 118px;
    width: 350px;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    background-color: red;
    border: 2px azure solid;
    border-style: dotted;
    margin: 10px;
}

/* colored gradient bars for the game type buttons */
#gradient-two {
    background-color: #FF5F1F;
    height: 15px;
    margin-top: 52px;
}

#gradient-three {
    background-color: #FF5F1F;
    height: 15px;
    margin-top: 52px;
}

#gradient-four {
    background-color: #FF5F1F;
    height: 15px;
    margin-top: 52px;
}

#gradient-five {
    background-color: #FF5F1F;
    height: 15px;
    margin-top: 52px;
}

.main-button:hover {
    height: 122px;
    width: 362px;
    color: rgb(202, 105, 238);
    border-color: rgb(202, 105, 238);
    background-color: #FF5F1F;
}

#pvp-instructions {
    text-align: center;
    border: 2px azure solid;
    background-color: red;
    width: 80%;
    opacity: 85%;
    margin: 0 auto;
    padding: 2%;
}

#pvp-instructions p {
    font-size: 20px;
    text-transform: uppercase;
}

#pvp-instructions h3 {
    font-family: 'Silkscreen', cursive, sans-serif;
    margin-top: 10px;
}

.pvp-step {
    background-color: #FF5F1F;
    padding: 0.5%;
}

.pvp-step:hover {
    color: rgb(202, 105, 238);
}


/* styling applied when the HTML content is updated to the player vs player game type */
#move-selection {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    height: 50%;
    padding-left: 200px;
}

.choice-header {
    font-size: 30px;
    text-align: left;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin-left: 10px;
}

.player-header {
    font-family: 'Silkscreen', cursive, sans-serif;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    background-color: rgb(202, 105, 238);
    border: 2px solid azure;
    border-style: dotted;
    width: 98%;
    margin: 0 auto;
    margin-top: 5px;
}

#player-moves {
    margin: 0 auto;
    width: 50%;
}

#player-one-moves {
    border: 3px black solid;
    width: 40%;
    margin: 10px;
    background-color: #FF5F1F;
}

#player-two-moves {
    display: none;
}

#player-two-moves-show {
    border: 3px black solid;
    width: 40%;
    text-align: center;
    margin: 10px;
    background-color: red;
}

.lock-answer {
    font-size: 20px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-weight: 200;
}

#lock-pc-choices {
    font-size: 20px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-weight: 200;
}

#play-pvc-new-round {
    font-size: 20px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-weight: 200;
    display: none;
}

.lock-answer i {
    color: teal;
    text-shadow: -1px 0 azure, 0 1px azure, 1px 0 azure, 0 -1px azure;
}

i:hover {
    color: yellow;
    font-size: larger;
}

#reset-button {
    border: 3px white solid;
    border-style: dashed;
    text-align: center;
    line-height: 85px;
    margin: 0 auto;
    width: 240px;
    height: 85px;
    font-size: 45px;
    background-color: black;
}

#grad-player-one {
    background-color: red;
    height: 25px;
}

#grad-player-two {
    background-color: #FF5F1F;
    height: 25px;
}

.red-line-breaker {
    border: solid red 2px;
    margin-top: 15px;

}

.orange-line-breaker {
    border: solid #FF5F1F 2px;
    margin-top: 15px;

}

#score-board {
    display: block;
    width: 100px;
}

.score-chart {
    width: 300px;
    height: 140px;
    border: 2px solid black;
    display: block;
    font-size: 25px;
    align-items: center;
    float: left;
    text-align: center;
    color: black;
    background-color: red;
}

.score-chart h3 {
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin: -2px;
}

#score-one {
    margin: -15px;
    margin-top: 5px;
    /* padding-top: 25px; */
    background-color: azure;
    border: solid black 2px;
}

#score-two {
    margin: -15px;
    margin-top: 5px;
    /* padding-top: 25px; */
    background-color: azure;
    border: solid black 2px;
}

#p-one-name {
    border: dotted 3px azure;
    background-color: rgb(202, 105, 238);
    color: white;
    margin-top: 5px;
    margin-bottom: 4px;
}

#p-two-name {
    border: dotted 3px azure;
    background-color: rgb(202, 105, 238);
    color: white;
    margin-top: 5px;
    margin-bottom: 4px;
}

section {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 250px;
}

#score-board i {
    font-size: 20px;
    color: azure;
}

#chosen-moves {
    background-color: red;
    border: solid 3px azure;
    width: 70%;
    height: 20%;
    margin: 0 auto;
}

/* styling for the chosen moves divsion */

#paterns {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px;
  width: 70%;
  border: solid 3px black;
  background-color: red;
  margin: 0 auto;
  margin-top: 10px;
}

#paterns-two {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;
    width: 70%;
    border: solid 3px black;
    background-color: #FF5F1F;
    margin: 0 auto;
    margin-top: 10px;
  }

#firstplayers-chosen-moves {
    display: flex;
    text-align: center;
    height: 80%;
    margin: 10px;
    font-size: 25px;
}

#firstplayers-chosen-moves h3 {
    margin-left: 10px;
}

#computers-chosen-moves {
    display: flex;
    text-align: center;
    height: 80%;
    margin: 10px;
    font-size: 25px;
}

#secondplayers-chosen-moves {
    display: flex;
    text-align: center;
    height: 80%;
    margin: 10px;
    font-size: 25px;
}

#secondplayers-chosen-moves h3 {
    margin-left: 10px;
}